<div class="room-type-wrapper">
    <div class="room-type-item">
        <div class="row">
            <div class="col-md-4">
                <a href="images/category/hotel/single-room-1.jpg" data-lightbox="single-1">
                    <img src="images/category/hotel/single-room-1.jpg" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature-left float-left">
                            <h3><a href="/room/{{slug}}">{{title}}</h3></a>
                            <p>Max : <span> 2 Persons</span>
                            </p>
                            <div class="facilities-list">
                                <ul>
                                    <li><i class="icofont-wifi"></i><span>Free WiFi</span></li>
                                    <li><i class="icofont-bathtub"></i><span>1 Bathroom</span></li>
                                    <li><i class="icofont-energy-air"></i><span>Air conditioner</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-right float-right">
                            <span class="price-amt">{{price}}</span>
                            Total for 1 room, 2 nights
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>