<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body>
    <!--Preloader starts-->
    <div class="preloader js-preloader">
        <img src="images/preloader.gif" alt="...">
    </div>
    <!--Preloader ends-->
    <!--Page Wrapper starts-->
    <div class="page-wrapper fixed-footer">
        <!--header starts-->
        <header class="header transparent scroll-hide">
            <!--Main Menu starts-->
            <div class="site-navbar-wrap v2">
                <div class="container">
                    <div class="site-navbar">
                        <div class="row align-items-center">
                            <div class="col-md-4 col-6">
                                <a class="navbar-brand" href="#"><img src="images/logo-black.png" alt="logo"
                                        class="img-fluid"></a>
                            </div>
                            <div class="col-md-8 col-6">
                                <nav class="site-navigation float-left">
                                    <div class="container">
                                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                                            <li class="has-children">
                                                <a href="#">Home</a>
                                                <ul class="dropdown">
                                                    <li><a href="home-v1.html">Home Tab</a></li>
                                                    <li><a href="home-v2.html">Home Hero</a></li>
                                                    <li><a href="home-v3.html">Home Video</a></li>
                                                    <li><a href="home-v4.html">Home parallax</a></li>
                                                    <li><a href="home-v5.html">Home Classic</a></li>
                                                    <li><a href="home-v6.html">Home Map</a></li>
                                                    <li><a href="home-v7.html">Home Slider</a></li>
                                                    <li><a href="home-v8.html">Home Video Fullscreen</a></li>
                                                    <li><a href="home-v9.html">Home Hero Fullscreen</a></li>
                                                    <li><a href="home-v10.html">Home Map Fullscreen</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a href="#">Listings</a>
                                                <ul class="dropdown">
                                                    <li class="has-children">
                                                        <a href="#">List Layout</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="list-fullwidth.html">Full Width</a></li>
                                                            <li><a href="list-fullwidth-map.html">Fullwidth with map</a>
                                                            </li>
                                                            <li><a href="list-left-sidebar.html">Left Sidebar</a></li>
                                                            <li><a href="list-right-sidebar.html">Right Sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Grid Layout</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="grid-fullwidth.html">Full Width</a></li>
                                                            <li><a href="grid-fullwidth-map.html">Fullwidth with map</a>
                                                            </li>
                                                            <li><a href="grid-two-column.html">Grid two column</a></li>
                                                            <li><a href="grid-left-sidebar.html">Left Sidebar</a></li>
                                                            <li><a href="grid-right-sidebar.html">Right Sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Map sidebar Layout</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="list-left-sidemap.html">List Left sidemap</a>
                                                            </li>
                                                            <li><a href="list-right-sidemap.html">List Right sidemap</a>
                                                            </li>
                                                            <li><a href="grid-left-sidemap.html">grid Left sidemap</a>
                                                            </li>
                                                            <li><a href="grid-right-sidemap.html">grid Right sidemap</a>
                                                            </li>
                                                            <li><a href="grid-search-half-map.html">advanced search</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">OpenStreet Map</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="grid-fullwidth-leaflet-map.html">Grid
                                                                    Fullwidth</a></li>
                                                            <li><a href="list-fullwidth-leaflet-map.html">List
                                                                    FullWidth</a></li>
                                                            <li><a href="grid-left-leaflet-sidemap.html">Grid Left
                                                                    Sidemap</a></li>
                                                            <li><a href="list-left-leaflet-sidemap.html">List Left
                                                                    Sidemap</a></li>
                                                            <li><a href="grid-right-leaflet-sidemap.html">Grid Right
                                                                    Sidemap</a></li>
                                                            <li><a href="list-right-leaflet-sidemap.html">List Right
                                                                    Sidemap</a></li>
                                                            <li><a href="grid-search-half-leaflet-map.html">Advance Map
                                                                    Search</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Category Listings</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="all-categories.html">All Category</a></li>
                                                            <li><a href="all-locations.html">All Locations</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Listing Details</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="single-listing-one.html">Single Listing one</a>
                                                            </li>
                                                            <li><a href="single-listing-two.html">Single Listing two</a>
                                                            </li>
                                                            <li><a href="single-listing-three.html">Single Listing
                                                                    three</a></li>
                                                            <li><a href="single-listing-four.html">Single Listing
                                                                    four</a></li>
                                                            <li><a href="single-listing-five.html">Single Listing
                                                                    five</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a href="#">Pages</a>
                                                <ul class="dropdown">
                                                    <li><a href="about.html">About us</a></li>
                                                    <li><a href="contact.html">Contact us</a></li>
                                                    <li class="has-children">
                                                        <a href="#">News Layout</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="news-left-sidebar.html">News Left sidebar</a>
                                                            </li>
                                                            <li><a href="news-right-sidebar.html">News right sidebar</a>
                                                            </li>
                                                            <li><a href="news-without-sidebar.html">News without
                                                                    sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Single News Layout</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="single-news-one.html">Single News one</a></li>
                                                            <li><a href="single-news-two.html">Single News two</a></li>
                                                            <li><a href="single-news-three.html">Single News three</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="404-page.html">404 error</a></li>
                                                    <li><a href="add-listing.html">Add Listing</a></li>
                                                    <li><a href="booking.html">Booking Page</a></li>
                                                    <li><a href="booking-confirmation.html">Booking Confirmation</a>
                                                    </li>
                                                    <li><a href="login.html">Login</a></li>
                                                    <li><a href="pricing-table.html">Pricing Table</a></li>
                                                    <li><a href="user-profile.html">User profile</a></li>
                                                    <li><a href="faq.html">FAQ</a></li>
                                                    <li><a href="invoice.html">invoice</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a href="#">User Panel</a>
                                                <ul class="dropdown">
                                                    <li><a href="db.html">Dashboard</a></li>
                                                    <li><a href="db-my-listing.html">My Listings</a></li>
                                                    <li><a href="db-bookings.html">Bookings</a></li>
                                                    <li><a href="db-messages.html">Inbox</a></li>
                                                    <li><a href="db-favourites.html">Favourite Listing</a></li>
                                                    <li><a href="db-add-listing.html">Add Listing</a></li>
                                                    <li><a href="db-recieve-reviews.html">Reviews</a></li>
                                                    <li><a href="db-my-profile.html">User Profile</a></li>
                                                    <li><a href="db-invoices.html">Invoices </a></li>
                                                </ul>
                                            </li>
                                            <li class="d-lg-none"><a class="btn v1" href="add-listing.html">Add Listing
                                                    <i class="ion-plus-round"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <div class="d-lg-none sm-right">
                                    <a href="#" class="mobile-bar js-menu-toggle">
                                        <span class="ion-android-menu"></span>
                                    </a>
                                </div>
                                <div class="add-list float-right">
                                    <a class="btn v8" href="add-listing.html">Add Listing <i
                                            class="ion-plus-round"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--mobile-menu starts -->
                    <div class="site-mobile-menu">
                        <div class="site-mobile-menu-header">
                            <div class="site-mobile-menu-close  js-menu-toggle">
                                <span class="ion-ios-close-empty"></span>
                            </div>
                        </div>
                        <div class="site-mobile-menu-body"></div>
                    </div>
                    <!--mobile-menu ends-->
                </div>
            </div>
            <!--Main Menu ends-->
        </header>
        <!--Header ends-->
        <!--Contact section starts-->
        <div class="contact-section v1 section-padding">
            <div class="container-fluid px-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-map v1">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319"
                                width="1920" height="400" style="border:0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <h3>Write to us</h3>
                        <form action="php/send_mail.php" method="post" id="contact_form">
                            <div class="form-control-wrap">
                                <div id="message" class="alert alert-danger alert-dismissible fade"></div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="fname" placeholder="Name*" name="fname">
                                </div>
                                <div class="form-group mar-top-40">
                                    <input type="email" class="form-control" id="email" placeholder="email*"
                                        name="email">
                                </div>
                                <div class="form-group mar-top-60">
                                    <textarea class="form-control" rows="10" name="comment" id="comment"
                                        placeholder="Your Message"></textarea>
                                </div>
                                <div class="form-group mar-top-40">
                                    <button type="submit" class="btn v7">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 offset-lg-1 col-md-12">
                        <div class="contact-widget sidebar-widget res-box mar-bot-30">
                            <h3>Our Office</h3>
                            <img src="images/others/office.jpg" alt="...">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga deserunt ea, eius,
                                adipisci ipsa facilis.</p>
                        </div>
                        <div class="sidebar-widget mar-bot-0">
                            <div class="business-time">
                                <div class="business-title">
                                    <h6><i class="ion-android-alarm-clock"></i> Business Hours</h6>
                                    <span class="float-right">Open Now</span>
                                </div>
                                <ul class="business-hours">
                                    <li class="business-open">
                                        <span class="day">Saturday</span>
                                        <div class="atbd_open_close_time">
                                            <span class="time">11:00 am</span> - <span class="time">06:00 pm</span>
                                        </div>
                                    </li>
                                    <li class="business-open trend-closed">
                                        <span class="day">Sunday</span>
                                        <div class="atbd_open_close_time">
                                            <span class="time">Closed</span>
                                        </div>
                                    </li>
                                    <li class="business-open">
                                        <span class="day">Monday</span>
                                        <div class="atbd_open_close_time">
                                            <span class="time">10:00 am</span> - <span class="time">06:00 pm</span>
                                        </div>
                                    </li>
                                    <li class="business-open">
                                        <span class="day">Tuesday</span>
                                        <div class="atbd_open_close_time">
                                            <span class="time">10:00 am</span> - <span class="time">06:30 pm</span>
                                        </div>
                                    </li>
                                    <li class="business-open">
                                        <span class="day">Wednesday</span>
                                        <div class="atbd_open_close_time">
                                            <span class="time">09:00 am</span> - <span class="time">05:00 pm</span>
                                        </div>
                                    </li>
                                    <li class="business-open">
                                        <span class="day">Thursday</span>
                                        <div class="atbd_open_close_time">
                                            <span class="time">10:00 am</span> - <span class="time">07:00 pm</span>
                                        </div>
                                    </li>
                                    <li class="business-open">
                                        <span class="day">Friday</span>
                                        <div class="atbd_open_close_time">
                                            <span class="time">11:00 am</span> - <span class="time">06:00 pm</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact section ends-->
        <!-- Scroll to top starts-->
        <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
        <!-- Scroll to top ends-->
    </div>
    <!--Page Wrapper ends-->
    <!--Footer Starts-->
    <div class="footer-wrapper no-pad-tb footer-fixed v1" style="background-image: url(images/bg/footer-bg-1.png)">
        <div class="overlay op-1"></div>
        <div class="footer-top-area section-padding">
            <div class="container">
                <div class="row nav-folderized">
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-logo">
                            <a href="index.html"> <img src="images/logo-black.png" alt="logo"></a>
                            <div class="company-desc">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio excepturi nam
                                    totam sequi, ipsam consequatur repudiandae libero illum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-content nav">
                            <h2 class="title">Helpful Links</h2>
                            <ul class="list">
                                <li><a class="link-hov style2" href="#">Login</a></li>
                                <li><a class="link-hov style2" href="#">My Account</a></li>
                                <li><a class="link-hov style2" href="#">Add Listing</a></li>
                                <li><a class="link-hov style2" href="#">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-content nav">
                            <h2 class="title">Category</h2>
                            <ul class="list">
                                <li><a class="link-hov style2" href="#">Shop</a></li>
                                <li><a class="link-hov style2" href="#">Travel</a></li>
                                <li><a class="link-hov style2" href="#">Sport</a></li>
                                <li><a class="link-hov style2" href="#">Restaurant</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="footer-content nav">
                            <h2 class="title">Contact us</h2>
                            <ul class="list footer-list">
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="ion-ios-location"></i>
                                        </div>
                                        <div class="text">13th North Ave, Florida, USA</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="ion-email"></i>
                                        </div>
                                        <div class="text"><a href="#">info@listagram.com</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="ion-ios-telephone"></i>
                                        </div>
                                        <div class="text">+44 078 767 595</div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="social-buttons style2">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                                <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <p>&copy; 2019 listagram. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer ends-->
    <!--Color switcher starts-->
    <div class="color-switcher hide-color-switcher">
        <a class="switcher-button"><i class="ion-android-settings"></i></a>
        <div class="color-switcher-title text-center">
            <h5>Switch Colors</h5>
        </div>
        <div class="color-list text-center">
            <a class="color green-theme" title="green"></a>
            <a class="color red-theme" title="red"></a>
            <a class="color blue-theme" title="blue"></a>
            <a class="color orange-theme" title="orange"></a>
            <a class="color pink-theme" title="pink"></a>
            <a class="color purple-theme" title="purple"></a>
            <a class="color violet-theme" title="violet"></a>
            <a class="color aqua-theme" title="aqua"></a>
        </div>
    </div>
    <!--Color switcher ends-->
    <!--Scripts starts-->
    <!--plugin js-->
    <script src="js/plugin.js"></script>
    <!--google maps-->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;callback=initAutocomplete"></script>
    <!--Main js-->
    <script src="js/main.js"></script>
    <!--Scripts ends-->
</body>

</html>